<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            table{
                border-color: palegreen;
                border-style: solid;
                
            }
        </style>
        <title>All History</title>
    </head>
    <body>
    <h1>Search History</h1>
    <table border="1">
        <thead>

            <tr>
                <th>Year</th>
                <th>Fact</th>
            </tr>
            
        </thead>
        <tbody>
            <%- table %>

        </tbody>

    </table>
    
    <br>
    <br>
        <a href="/">Main Page</a>

    </body>
</html>