<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>Enter Year</title>
	<style>
            fieldset{
                border-color: powderblue;
            }

            h1{
                color: seagreen;
            }
        </style>
    </head>
    <body>
        
        <h1>Enter Year</h1>
        <form action=<%- address %> method="post">
            <fieldset>
            <label><strong>Year you want fact from: </strong><input type="text" name="year"> </label> <br> 
            </fieldset>
            <br> 
		    <input type="submit" value="Submit Request"/>
        </form>
        <hr>
        <a href="/">Main Page</a>
        
    </body>
</html>
