<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>Enter Year</title>
    </head>
    <body>
        
        <h1>Search History</h1>
        <form action=<%- address %> method="post">
            <fieldset>
            <label><strong>Look back at a year you've searched(or type All to see entire history)  </strong><input type="text" name="year" placeholder="All" required> </label> <br> 
            </fieldset>
            <br> 
		    <input type="submit" value="Submit Request"/>
        </form>
        <hr>
        <a href="/">Main Page</a>
        
    </body>
</html>