<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/> 
        <title>Get a Year Fact</title>
        <style>
            h1{
                color: maroon;
            }

        </style>
    </head>

    <body>
        <h1>Get a Fact from Any Year</h1>
        
        <ul>
            <li>Enter a year to get a fact <a href="/fact">Fact Retriever</a></li>
            <li>Shows all the facts of the years you searched <a href="/history">History</a></li>
        </ul>

        <hr>

    </body>

</html>