<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Found Fact</title>
</head>
<body>
    <h1>Fact from Year</h1> 
    <strong>Year: </strong> <%- year %> <br>
    <strong>Fact: </strong> <%- fact %> <br>   
    <hr>
    <a href="/">Main Page</a>

</body>
</html>